@model GestaoPessoas.Web.Models.EmpregadoMOD

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Empregado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p> 
    @Html.ActionLink("Editar", "Editar", new { id = Model.EmpregadoId }, new { @class = "btn-floating btn-large waves-effect waves-light red" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light" })
</p>
