<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestao de Pessoas S/A</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Gestor APP</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Home", "Index", "Home") </li>
                <li>@Html.ActionLink("Empregados", "Empregados", "Home") </li>
                <li>@Html.ActionLink("Departamento", "Departamento", "Home") </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desenvolvido Titan Tech Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materializeJS")

    @RenderSection("scripts", required: false)
</body>
</html>
